section {
    background-color: #62cbcb;
    padding: 20px 0;
}

header{
    background-color: #24a7a7;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
}

h2{
    color: #096868;
}

img{
    height: 300px !important;
}

.card{
    margin-left: 6%;
}

        .color-circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid transparent;
        }

        .color-circle.selected {
            border-color: black; 
        }
